*.aps
*.obj
*.sbr
*.log
*.opensdf
*.sdf
*.tlog
*.pdb
*.idb
*.unsuccessfulbuild
*.lastbuildstate
*.v11.suo
*.user
*.dsp
*.tmp
*.jbf
*.ncb
*.opt
*.plg
*.ipch
.vs
Thumbs.db
Debug/
Release/
wvz_bitmap_temp.bmp
Build/Deploy/
Build/Debug/
Build/Release/
InvestmentManagement/obj/Debug/
InvestmentManagement/bin/Debug/
*.zip
*.7z